<div class="col-10 offset-1 about">
  <h1 style="color: #66f9b7">About Me</h1>

  <p style="color: white">
    This food-based app was built by <a target="_blank" href="https://github.com/JenniferTran15/queen-j15">Jennifer Tran</a>. A food blogger who is sharing her reviews and experiences of the places she has visited and dined at. The focus of the environments mostly lay in the Washington D.C. metropolitan area as well as Northern Virginia. 
  </p>
  <br />

  <p style="color: white">
    If you want to see more pictures, look through her instagram - <a target="_blank" href="https://www.instagram.com/eatsindc/"> here</a>.
  </p>


   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jennifer.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center" style="color: #66f9b7">Jennifer Tran</h2>
      <br />
      <p style="color: white">
        Jennifer Tran is a recent graduate from James Madison University with a degree in Health Science and Political Science. Her thirst for knowledge has led her to pursue additional education in software and web programming and development.
      </p>
    </div>
  </div>  

</div>

<br class="clear" />
<br />
<br />
<br />
<br />